<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../static/css/materialize.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="../static/local.css"  media="screen,projection"/>
      <link href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body style="background-color:#F4F4F2;">

      <!--Double navigation-->
      <header>
          <!-- Navbar -->
          <!-- ADD <div class="navbar-fixed"> TO MAKE THE NAVBAR FIXED. -->
          <div class="nav-wrapper">
            <nav style="background-color:#E84A27">
                <div class="nav-wrapper">
            <nav style="background-color:#E84A27">
                <a href="/"><img src="../static/images/cute-dinosaur.png" class="responsive-img" style="height: 65px; vertical-align: middle; padding-top: 5px; padding-bottom: 5px; padding-left: 10px"></a>
                <a href="/" style="height: 65px; color:white;font-family: 'Dekko'; font-size:225%; padding-left:10px; vertical-align: middle;">RSOsaurus</a>
            </nav>
          </div>
            </nav>
          </div>
      </header>
      <!--Main layout-->
      <main>
        <div class="row" align = "left">
          <div class="col s12 m9 center">
            <div class="card darken-1" style="background-color:#15294C">
              <div class="card-content white-text">
                <span class="card-title" style="color: moccasin">Question1</span>
                <p align="left" style="font-size:25px">How much time do you spend on homework?</p> 
                <form action="#" style="text-align: left;">
                <p>
                  <input name="group1" type="radio" id="test1" />
                  <label for="test1" style="font-size:20px"> 
                    < 3 hrs</label>
                </p>
                <p> 
                  <input name="group1" type="radio" id="test2" />
                  <label for="test2" style="font-size:20px"> 
                    < 5 hrs</label>
                </p>
                <p>
                  <input name="group1" type="radio" id="test3"  />
                  <label for="test3" style="font-size:20px"> > 10 hrs </label>
                </p>
              </form>
            </div>
          </div>
        </div>

        <div class="col s12 m9 center">
          <div class="card darken-1" style="background-color:#15294C">
            <div class="card-content white-text">
              <span class="card-title" style="color: moccasin">Question2</span>
              <p align="left" style="font-size:25px">Do you enjoy participating/watching sports?</p> 
              <form action="#" style=" text-align: center;">
              <p>
                <input name="group2" type="radio" id="test4" />
                <label for="test4" style="font-size:20px">Yes, I enjoy both</label>
              </p>
              <p> 
                <input name="group2" type="radio" id="test5" />
                <label for="test5" style="font-size:20px">Yes, I enjoy participating</label>
              </p>
              <p>
                <input name="group2" type="radio" id="test6" />
                <label for="test6" style="font-size:20px">Yes, I enjoy watching</label>
              </p>
              <p>
                <input name="group2" type="radio" id="test7" />
                <label for="test7" style="font-size:20px">No</label>
              </p>
            </form>
          </div>
        </div>
      </div>

      <div class="col s12 m9 center">
          <div class="card darken-1" style="background-color:#15294C">
            <div class="card-content white-text">
              <span class="card-title" style="color: moccasin">Question3</span>
              <p align="left" style="font-size:25px">How many times a week would you like to meet?</p> 
              <form action="#" style="text-align: center;">
              <p>
                <input name="group3" type="radio" id="test8" />
                <label for="test8" style="font-size:20px">Once</label>
              </p>
              <p> 
                <input name="group3" type="radio" id="test9" />
                <label for="test9" style="font-size:20px">Twice</label>
              </p>
              <p>
                <input name="group3" type="radio" id="test10" />
                <label for="test10" style="font-size:20px">Three Times</label>
              </p>
              <p>
                <input name="group2" type="radio" id="test11" />
                <label for="test11" style="font-size:20px">As often as necessary</label>
              </p>
            </form>
          </div>
        </div>
      </div>

      <div class="col s12 m9 center">
          <div class="card darken-1" style="background-color:#15294C">
            <div class="card-content white-text">
              <span class="card-title" style="color: moccasin">Question4</span>
              <p align="left" style="font-size:25px">Are you interested in major specific clubs?</p> 
              <form action="#" style=" text-align: center;">
              <p>
                <input name="group4" type="radio" id="test12" />
                <label for="test12" style="font-size:20px">Yes</label>
              </p>
              <p>
                <input name="group4" type="radio" id="test13" />
                <label for="test13" style="font-size:20px">No</label>
              </p>
            </form>
          </div>
        </div>
      </div> 

      <div class="col s12 m9 center">
          <div class="card darken-1" style="background-color:#15294C">
            <div class="card-content white-text">
              <span class="card-title" style="color: moccasin">Question5</span>
              <p align="left"  style="font-size:25px">What year are you?</p> 
              <form action="#" style=" text-align: center;">
              <p>
                <input name="group5" type="radio" id="test14" />
                <label for="test14" style="font-size:20px">Freshman</label>
              </p>
              <p> 
                <input name="group5" type="radio" id="test15" />
                <label for="test15" style="font-size:20px">Sophomore</label>
              </p>
              <p>
                <input name="group5" type="radio" id="test16" />
                <label for="test16" style="font-size:20px">Junior</label>
              </p>
              <p>
                <input name="group5" type="radio" id="test17" />
                <label for="test17" style="font-size:20px">Senior</label>
              </p>
            </form>
          </div>
        </div>
      </div>

      <div class="col s12 m9 center">
          <div class="card darken-1" style="background-color:#15294C">
            <div class="card-content white-text">
              <span class="card-title" style="color: moccasin">Question6</span>
              <p align="left" style="font-size:25px">Are you willing to pay fees to be part of an RSO?</p> 
              <form action="#" style=" text-align: center;">
              <p>
                <input name="group6" type="radio" id="test18" />
                <label for="test18" style="font-size:20px">Yes</label>
              </p>
              <p> 
                <input name="group6" type="radio" id="test19" />
                <label for="test19" style="font-size:20px">Yes, if it is not too costly</label>
              </p>
              <p>
                <input name="group6" type="radio" id="test20" />
                <label for="test20" style="font-size:20px">No</label>
              </p>
            </form>
          </div>
        </div>
      </div>

      <div class="col s12 m9 center">
          <a href="/?reco=yes" class="btn waves-effect waves-light" type="submit" name="action" style="background-color:#E84A27;">Submit
            <i class="material-icons right">send</i>
          </a>
      </div>
      </main>
      <!--/Main layout-->

      <!--Footer-->
      <footer>

      </footer>
      <!--Footer--> 

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="../static/js/materialize.min.js"></script>
      <script>
      // Initialize collapse button
      $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('select').material_select();

        $(function() {
            $('#btnSearch').click(function() {
                console.log("GET DATA")
                console.log($('form'))
                $.ajax({
                    url: '/search',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response) {
                        console.log(response);
                        $("#relevant_rsos").empty();
                        $("#relevant_rsos").append(response);

                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
        $(function() {
          $('#rsoLink').click(function() {
            console.log("RETRIEVING RSO INFO FOR PAGE")
            $.ajax({
              url: '/rso',
              data: {
                name: $(this).attr('name')
              },
              type: 'GET',
              success: function(response) {
                console.log(response);
              },
              error: function(error) {
                console.log(error);
              }
            });
          });
        });
        });
      </script>
      <!-- Compiled and minified CSS -->
      <!-- <link rel="stylesheet" href="../static/node_modules/materialize-css/dist/css/materialize.css"> -->


      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      
    </body>
  </html>