{% for i in range(0,data|length,2) %}
  <div class="row">
    <div class="col s12 m6">
      <div class="card" style="width: 100%;">
        <a href="rso?name={{ data[i][0] }}" id="rsoLink" name="{{ data[i][0] }}" >
          <div class="card-image waves-effect waves-block waves-light" style="height: 180px; width: 100%; overflow: hidden">
            <img src={{ data[i][13] }}>
            <span class="card-title">{{ data[i][0] }}</span>
          </div>
        </a>
        <div class="card-content">
          <span class="card-title activator" style="font-size: 14px; font-family: Verdana;">{{ data[i][9][:50] }}...<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{ data[i][0] }}<i class="material-icons right">close</i></span>
          <p>{{ data[i][9] }}</p>
        </div>
      </div>
    </div>

    {% if data|length > i+1 %}
    <div class="col s12 m6">
      <div class="card" style="width: 100%;">
        <a href="rso?name={{ data[i+1][0] }}" id="rsoLink" name="{{ data[i+1][0] }}" >
          <div class="card-image waves-effect waves-block waves-light" style="height: 180px; width: 100%; overflow: hidden">
            <img src={{ data[i+1][13] }}>
            <span class="card-title">{{ data[i+1][0] }}</span>
          </div>
        </a>
        <div class="card-content">
          <span class="card-title activator" style="font-size: 14px; font-family: Verdana;">{{ data[i+1][9][:50] }}...<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{ data[i+1][0] }}<i class="material-icons right">close</i></span>
          <p>{{ data[i+1][9] }}</p>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
{% endfor %}